.login {
  margin-top: 100px;
  max-width: 500px;
}

.input {
  color: black;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
}

.iserror {
  padding-top: 20px;
  text-align: center;
  color: red;
}
